@import url(Common.scss);

#root{
  &>.profiles{
    width: 100%;
    height: 100%;
    &>header{
      z-index: 200;
      background: transparent !important;
      .title_bar>.left_item>a>svg{
        opacity: 0.7;
        font-size: 20px;
        color: #fff;
      }
      .remove{
        background: none;
        color: #fff;
        border: none;
        font-size: 17px;
        opacity: 0.7;
      }
    }
  }//.profiles
}

main{
  height:100%;
  .background{
    height: 100%; 
    background-size: cover;
    background-color: #8b8b8b;
    filter: brightness(90%);
  }
  .profile{
    position: fixed;
    top: calc(100% - 35%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    width: 100%;
    height: calc(100% - 65%);
    background: rgba(255,255,255,0.3);
    box-shadow: inset 0 -180px 40px rgba(106, 105, 105, 0.3);
    .profile_img{
      position: absolute; 
      left: 50%; top: -65px;
      width: 100px; 
      height: 100px; 
      margin-left: -50px;
      border-radius: 50%;
    }
    .profile_content{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 55px;
      .profile_name{
        color: #fff;
        font-size: 16px;
        font-weight: bold;}

      .profile_email{
        width: 148px; 
        line-height: 30px;
        margin: 15px 0 10px; 
        padding: 0 8px; 
        text-align: center; 
        border: none;
        color: #fff;
        border-radius: 8px;
        border: 1px solid rgba(255,255,255,0.5);
      }
      .profile_message{
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
        color: #fff;
      }
    }
    form.profile_content{
      position: absolute;
      width: 100%;
      .profile_name,.profile_message{
        width: 150px;
        height: 30px;
        background: rgba(255,255,255,0.3);
        border-radius: 8px;
        border: none;
        text-align: center;
        margin-top: 8px;
        font-size: 13px;
        font-weight: normal;
        &::placeholder{
          color: #666;
        }
      }
      .profile_img_up{
        position: fixed;
        left: 50%;
        transform: translateX(30px);
        top: 66%;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        &>svg{
          font-size: 17px;
          color: rgba(255,255,255,0.8);
        }
      }
      .back{
        position: absolute;
        left: -20px;
        top: -85px;
      }
      .profile_update{
        position: absolute;
        bottom: -83px;
        display: flex;
        flex-direction: column;
        &>svg{
          text-align: center;
          font-size: 20px;
          color: #fff;
          margin-bottom: 7px;
        }
        &>span{
          color: #fff;
          font-size: 14px;
        }
      }
    }
    .profile_menu{
      display: flex;
      justify-content: space-around;
      border-top: 1px solid rgba(255,255,255,0.5);
      margin: 0 20px;
      &>li{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 30px 30px;
        color: #fff;
        font-size: 14px;
        a{
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        span{
          text-align: center;
          font-size: 20px;
          color: #fff;
          margin-bottom: 6px;
        }
      }
    }
    .remove{
      position: fixed;
      left: 50%;
      transform: translateX(60px);
      top: 66%;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.3);
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      &>svg{
        color:rgba(255,255,255,0.8);
      }
    }
  }
}//main
