.tab_bar{
  position: fixed; 
  left: 0; bottom: 0;
  width: 100%; 
  height: 7%; 
  min-height: 54px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 -30px 40px rgba(0, 0, 0, 0.1);
  &>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &>li{
      flex: 1;
      &>a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &>*{
        color: rgba(255, 255, 255, 0.3);
        font-size: 30px;
        transition: color 0.3s linear;
      }
      &:hover>*,&.on>*{
        color: rgba(3, 86, 164,0.7);
        font-size: 30px;
      }
    }
  }//ul
}//tab_bar
